@import "color";

/*====================
Common CSS
======================*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline:none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  transition: all 0.3s linear;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}