@import './variable';
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: $primaryFontFamily;
  font-size: $primaryFontSize;
}

/*====================
Reset CSS
======================*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline:none;
}

a {
  text-decoration: none;
  transition: all 0.3s linear;
  color: $subTitleFontColor;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

/*====================
Common CSS
======================*/

.container {
  max-width: 100rem;
  width: 80%;
  margin: 0 auto;
}


.btn{
  font-family: $primaryFontFamily;
  font-size: $primaryFontSize;
  font-weight: 700;
  color: $subTitleFontColor;
  border: 1px solid $primaryColor;
  padding: .75rem 2rem;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s linear;
  
   &.btn-box{
     background-color: $primaryColor;
     color: white;
   }
}
