// Theme Color

$primaryColor: #FD6E0A;
$bgColor: #FFF8F3;

// Common Color

$primaryFontColor: #757575;
$titleFontColor: #181818;
$subTitleFontColor: #474747;


// Font Family

$primaryFontFamily: "Roboto Mono", monospace;


// Font Size

$primaryFontSize: 1rem;